.center-of-hex {
  position: absolute;
  width: 15px;
  height: 15px;
  padding: 0px 0px;
  border: none;
  text-align: center;
  color: red;
  background-color: transparent;
  visibility: visible;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  z-index: 5;
}


.hex-shade {
  position: absolute;
  padding: 0px 0px;
  border: none;
  color: red;
  background-color: transparent;
  visibility: visible;
  z-index: 5;
  opacity: 0.3;
}


.close-icon
{
  position: relative;
  float: right;
  right: -15px;
  top: -30px;
  width: 25px;
  height: 25px; 
}


.close-icon:hover
{
  box-shadow: 0 0 10px 5px orange;
  cursor: pointer;
}